# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/chatbot/node_modules
/frontend/chatbot/.pnp
/frontend/chatbot/.pnp.js

/frontend/chatbot/.env

# testing
/frontend/chatbot/coverage

# production
/frontend/chatbot/build


# Backend
/backend/.bundle
/backend/vendor
/backend/.env
/backend/samconfig.toml
#/backend/app/layers/shared/shared.zip
/backend/app/layers/shared/ruby/gems

/backend/.aws-sam
.vscode
